In [1]:
from urllib import request, parse #https://docs.python.org/3/library/urllib.html
from bs4 import BeautifulSoup #https://www.crummy.com/software/BeautifulSoup/bs4/doc/
import os 
import pandas as pd

In [27]:
def get_files(links, extension):
    for link in links:
        href = link.get('href')
        if (isinstance(href, str) and href.endswith(extension)): 
            if (href.startswith('.')):
                file_link = (baseurl + href)
            else:
                file_link = href    
            file_name = (list(filter(lambda x: x.endswith(extension), href.split("/")))[0])
            request.urlretrieve(file_link, cwd + "\Scraper\{0}.{1}".format(file_name, extension))

In [3]:
# get current directory for saving files
cwd = os.getcwd()
baseurl = "https://www.cs.utexas.edu/~mitra/csSpring2018/cs313/"
url = "https://www.cs.utexas.edu/~mitra/csSpring2018/cs313/cs313.html"
page = request.urlopen(url)
soup = BeautifulSoup(page, 'html.parser')
# print(soup.prettify())
links = (soup.find_all('a'))
for link in links:
  href = link.get('href')
  if (isinstance(href, str) and href.endswith('pdf')): 
    if (href.startswith('.')):
        file_link = (baseurl + href)
    else:
        file_link = href    
    file_name = (list(filter(lambda x: x.endswith('pdf'), href.split("/")))[0])
    request.urlretrieve(file_link, cwd + "\Scraper\{0}.pdf".format(file_name))

# get_files(links, 'txt')

In [21]:
list(filter(lambda href: isinstance(href, str) and href.endswith('html'), map(lambda x: x.get('href'), links)))

['./syllabus.html',
 './schedule.html',
 './assgn.html',
 './lect.html',
 './notes.html',
 './study.html',
 './start.html',
 'http://docs.python.org/3/howto/regex.html',
 'http://www.regular-expressions.info/python.html',
 'http://kodos.sourceforge.net/home.html',
 'http://www.ocf.berkeley.edu/~wwu/riddles/intro.shtml',
 'http://www.analyzemath.com/Graph-Basic-Functions/Graph-Basic-Functions.html',
 'https://www.cs.usfca.edu/~galles/visualization/AVLtree.html',
 'http://www.cs.armstrong.edu/liang/animation/web/AVLTree.html',
 'https://www.cs.usfca.edu/~galles/visualization/ComparisonSort.html',
 'http://www-ai.ijs.si/eliza/eliza.html']

In [ ]:
find_all_links_in_page(url):
        current_page = request.urlopen(parse.urljoin(url))
        current_soup = BeautifulSoup(current_page, "html.parser")
        sub_links = list(filter(lambda href: isinstance(href, str) and href.startswith('.'), map(lambda x : x.get('href'), current_soup.find_all('a'))))

In [87]:
# Retrieve all links in the website to scrape
all_links_to_scrape = [];
for link in links:
    href = link.get('href')
    if (isinstance(href, str) and href.startswith('.') and href.endswith('.html')):
        current_page = request.urlopen(parse.urljoin(baseurl, href))
        current_soup = BeautifulSoup(current_page, "html.parser")
        sub_links = list(filter(lambda href: isinstance(href, str) and href.startswith('.'), map(lambda x : x.get('href'), current_soup.find_all('a'))))
        all_links_to_scrape.append(href)
        all_links_to_scrape+=sub_links
all_links_to_scrape

['./syllabus.html',
 './grading.html',
 './schedule.html',
 './assgn.html',
 './assgn/assgn1.html',
 './assgn/assgn2.html',
 './assgn/assgn3.html',
 './assgn/assgn4.html',
 './assgn/assgn5.html',
 './assgn/assgn6.html',
 './assgn/assgn7.html',
 './assgn/assgn8.html',
 './assgn/assgn9.html',
 './assgn/assgn10.html',
 './assgn/assgn11.html',
 './assgn/assgn12.html',
 './assgn/assgn13.html',
 './assgn/assgn14.html',
 './assgn/assgn15.html',
 './lect.html',
 './lectures/history.html',
 './lectures/computer.html',
 './lectures/programs.html',
 './lectures/python.html',
 './lectures/var.html',
 './lectures/oper.html',
 './lectures/func.html',
 './lectures/cond.html',
 './lectures/math.html',
 './lectures/loops.html',
 './lectures/strings.html',
 './lectures/files.html',
 './lectures/lists.html',
 './lectures/recursion.html',
 './notes/RecursionNotes.txt',
 './notes/recursion1.txt',
 './notes/recursion2.txt',
 './lectures/dict.html',
 './lectures/debug.html',
 './lectures/excep.html',
 './lectures/turtle.html',
 './lectures/Fractals/fractals.html',
 './lectures/oop.html',
 './lectures/algo.html',
 './lectures/basicAlgo.html',
 './lectures/stacks.html',
 './lectures/trees.html',
 './lectures/hash.html',
 './lectures/algo_classes.html',
 './lectures/20slideAVL.ppt',
 './lectures/22slideGraphs.ppt',
 './lectures/23slideWeightedGraphs.ppt',
 './notes.html',
 './notes/Lect19Jan.txt',
 './notes/Lect22Jan.txt',
 './notes/Lect26Jan.txt',
 './notes/Lect31Jan.txt',
 './notes/Lect02Feb.txt',
 './notes/Lect14Feb.txt',
 './notes/Lect16Feb.txt',
 './notes/Lect19Feb.txt',
 './notes/Lect21Feb.txt',
 './notes/Lect19Mar.txt',
 './notes/Lect21Mar.txt',
 './notes/Lect23Mar.txt',
 './notes/Lect26Mar.txt',
 './notes/Lect28Mar.txt',
 './notes/Lect30Mar.txt',
 './notes/Lect06Apr.txt',
 './notes/Lect11Apr.txt',
 './notes/Lect13Apr.txt',
 './notes/Lect20Apr.txt',
 './study.html',
 './lect.html',
 './schedule.html',
 './start.html']

## Scraping with pandas

Pandas is an awesome library for dealing with data. Let's do some scraping with some tables we can find on wikipedia, and see if we transform it into a programmatic format we can use conveniently.

In [28]:
## Again, you can use the BeautifulSoup library to find what one
url = "https://en.wikipedia.org/wiki/List_of_Texas_locations_by_per_capita_income"
page = request.urlopen(url)
soup = BeautifulSoup(page, "html.parser")


## In this case I want to try a specific table where I want to specify the attributes
## soup.find will find the FIRST instance of table where with wikitable
## if there's no such table, it will return None
## https://www.crummy.com/software/BeautifulSoup/bs4/doc/#find
html_table = soup.find('table', class_ = "wikitable")

## Now you can parse the html into dataframes using pd.read_html
dfs = pd.read_html(html_table.prettify(), header=0)

In [25]:
## Let's take a look at the dfs we just read
## It looks weird 
## But that's because pd.read_html return a list of dataframes
dfs

[      Rank         County Per capita  income Median  household  income  \
 0      1.0         Loving            $42,220                   $83,889
 1      2.0         Borden            $40,916                   $58,409
 2      3.0           King            $39,511                   $61,563
 3      4.0         Collin            $37,362                   $80,504
 4      5.0        Kendall            $36,418                   $66,655
 5      6.0       Rockwall            $33,274                   $78,032
 6      7.0         Denton            $32,538                   $70,622
 7      8.0      Fort Bend            $32,016                   $79,845
 8      9.0     Montgomery            $31,959                   $65,620
 9     10.0          Comal            $31,862                   $64,752
 10    11.0          Irion            $31,857                   $48,833
 11    12.0         Travis            $31,785                   $54,074
 12    13.0        Edwards            $31,109                   $40,163
 13    14.0        Midland            $30,956                   $54,945
 14    15.0           Hood            $30,687                   $54,882
 15    16.0     Williamson            $29,663                   $68,780
 16    17.0        Andrews            $29,605                   $48,699
 17    18.0       Hemphill            $29,343                   $62,159
 18    19.0        Roberts            $29,291                   $52,500
 19    20.0          Llano            $29,027                   $41,969
 20    21.0      Galveston            $28,959                   $58,317
 21    22.0        Randall            $28,668                   $56,041
 22    23.0         Parker            $28,539                   $61,340
 23    24.0         Goliad            $28,120                   $51,786
 24    25.0      Gillespie            $28,072                   $52,682
 25    26.0       Brazoria            $27,529                   $65,607
 26     NaN  United States            $27,334                   $51,914
 27    27.0        Tarrant            $27,333                   $55,306
 28    28.0        Wheeler            $27,282                   $42,909
 29    29.0         Kimble            $27,118                   $43,429
 ..     ...            ...                ...                       ...
 226  225.0          Garza            $16,185                   $35,750
 227  226.0         Castro            $16,073                   $35,087
 228  227.0      Culberson            $16,060                   $35,500
 229  228.0        Cochran            $16,018                   $37,446
 230  229.0         Karnes            $15,949                   $39,611
 231  230.0          Jones            $15,880                   $39,568
 232  231.0       Presidio            $15,635                   $29,513
 233  232.0         Dawson            $15,288                   $33,623
 234  233.0          Duval            $15,134                   $30,493
 235  234.0           Real            $15,074                   $29,186
 236  235.0           Frio            $15,036                   $35,940
 237  236.0          Falls            $14,979                   $31,083
 238  237.0         Brooks            $14,728                   $19,959
 239  238.0        Madison            $14,245                   $37,207
 240  239.0         Kinney            $14,207                   $24,388
 241  240.0            Bee            $14,188                   $40,278
 242  241.0           Webb            $14,163                   $36,684
 243  242.0         Dimmit            $14,045                   $25,882
 244  243.0         Walker            $13,920                   $34,259
 245  244.0         Zapata            $13,915                   $24,496
 246  245.0        Cameron            $13,695                   $31,264
 247  246.0       La Salle            $13,542                   $30,144
 248  247.0        Hidalgo            $13,480                   $31,879
 249  248.0       Mitchell            $13,358                   $37,260
 250  249.0         Reeves            $13,112                   $32,593
 251  250.0       Maverick            $12,444                   $28,813
 252  251.0          Starr            $11,659                   $24,441
 253  252.0       Hudspeth            $11,485                   $22,647
 254  253.0        Willacy            $10,800                   $22,881
 255  254.0         Zavala            $10,180                   $21,707

     Median  family  income  Population  Number of  households
 0                  $84,306          82                     39
 1                  $60,536         641                    264
 2                  $80,500         286                    113
 3                  $94,785      782341                 283759
 4                  $80,801       33410                  12617
 5                  $83,639       78337                  26448
 6                  $86,891      662614                 240289
 7                  $88,454      585375                 187384
 8                  $76,096      455746                 162530
 9                  $75,831      108472                  41363
 10                 $67,604        1599                    653
 11                 $69,646     1024266                 404467
 12                 $44,118        2002                    839
 13                 $64,913      136872                  50845
 14                 $65,844       51182                  20795
 15                 $78,040      422679                 152606
 16                 $55,905       14786                   5259
 17                 $76,176        3807                   1382
 18                 $61,375         929                    359
 19                 $52,880       19301                   9008
 20                 $70,870      291309                 108969
 21                 $70,592      120725                  47975
 22                 $71,217      116927                  42069
 23                 $62,450        7210                   2868
 24                 $62,746       24837                  10572
 25                 $76,018      313166                 106589
 26                 $62,982   308745538              116716292
 27                 $65,351     1809034                 657134
 28                 $54,495        5410                   2181
 29                 $52,262        4607                   2016
 ..                     ...         ...                    ...
 226                $51,642        6461                   1671
 227                $38,390        8062                   2744
 228                $41,250        2398                    908
 229                $42,601        3127                   1113
 230                $47,917       14824                   4463
 231                $50,888       20202                   6034
 232                $33,276        7818                   2906
 233                $47,561       13833                   4385
 234                $37,429       11782                   4090
 235                $34,167        3309                   1374
 236                $42,111       17217                   4854
 237                $42,877       17866                   6302
 238                $25,710        7223                   2642
 239                $46,943       13664                   4187
 240                $30,833        3598                   1350
 241                $46,061       31861                   9042
 242                $38,521      250304                  67106
 243                $30,595        9996                   3421
 244                $47,219       67861                  20969
 245                $26,406       14018                   4297
 246                $33,770      406220                 119631
 247                $35,352        6886                   1931
 248                $34,106      774769                 216471
 249                $46,131        9403                   2809
 250                $36,728       13783                   3839
 251                $32,199       54258                  15563
 252                $28,143       60968                  17001
 253                $28,125        3476                   1174
 254                $25,399       22134                   5764
 255                $24,768       11677                   3573

 [256 rows x 7 columns]]

In [26]:
## So let's try to access the first item in the list of dataframes
dfs[0]

,Rank,County,Per capita income,Median household income,Median family income,Population,Number of households
0,1.0,Loving,"$42,220","$83,889","$84,306",82,39
1,2.0,Borden,"$40,916","$58,409","$60,536",641,264
2,3.0,King,"$39,511","$61,563","$80,500",286,113
3,4.0,Collin,"$37,362","$80,504","$94,785",782341,283759
4,5.0,Kendall,"$36,418","$66,655","$80,801",33410,12617
5,6.0,Rockwall,"$33,274","$78,032","$83,639",78337,26448
6,7.0,Denton,"$32,538","$70,622","$86,891",662614,240289
7,8.0,Fort Bend,"$32,016","$79,845","$88,454",585375,187384
8,9.0,Montgomery,"$31,959","$65,620","$76,096",455746,162530
9,10.0,Comal,"$31,862","$64,752","$75,831",108472,41363
10,11.0,Irion,"$31,857","$48,833","$67,604",1599,653
11,12.0,Travis,"$31,785","$54,074","$69,646",1024266,404467
12,13.0,Edwards,"$31,109","$40,163","$44,118",2002,839
13,14.0,Midland,"$30,956","$54,945","$64,913",136872,50845
14,15.0,Hood,"$30,687","$54,882","$65,844",51182,20795
15,16.0,Williamson,"$29,663","$68,780","$78,040",422679,152606
16,17.0,Andrews,"$29,605","$48,699","$55,905",14786,5259
17,18.0,Hemphill,"$29,343","$62,159","$76,176",3807,1382
18,19.0,Roberts,"$29,291","$52,500","$61,375",929,359
19,20.0,Llano,"$29,027","$41,969","$52,880",19301,9008
20,21.0,Galveston,"$28,959","$58,317","$70,870",291309,108969
21,22.0,Randall,"$28,668","$56,041","$70,592",120725,47975
22,23.0,Parker,"$28,539","$61,340","$71,217",116927,42069
23,24.0,Goliad,"$28,120","$51,786","$62,450",7210,2868
24,25.0,Gillespie,"$28,072","$52,682","$62,746",24837,10572
25,26.0,Brazoria,"$27,529","$65,607","$76,018",313166,106589
26,NaN,United States,"$27,334","$51,914","$62,982",308745538,116716292
27,27.0,Tarrant,"$27,333","$55,306","$65,351",1809034,657134
28,28.0,Wheeler,"$27,282","$42,909","$54,495",5410,2181
29,29.0,Kimble,"$27,118","$43,429","$52,262",4607,2016
...,...,...,...,...,...,...,...
226,225.0,Garza,"$16,185","$35,750","$51,642",6461,1671
227,226.0,Castro,"$16,073","$35,087","$38,390",8062,2744
228,227.0,Culberson,"$16,060","$35,500","$41,250",2398,908
229,228.0,Cochran,"$16,018","$37,446","$42,601",3127,1113
230,229.0,Karnes,"$15,949","$39,611","$47,917",14824,4463
231,230.0,Jones,"$15,880","$39,568","$50,888",20202,6034
232,231.0,Presidio,"$15,635","$29,513","$33,276",7818,2906
233,232.0,Dawson,"$15,288","$33,623","$47,561",13833,4385
234,233.0,Duval,"$15,134","$30,493","$37,429",11782,4090
235,234.0,Real,"$15,074","$29,186","$34,167",3309,1374
236,235.0,Frio,"$15,036","$35,940","$42,111",17217,4854
237,236.0,Falls,"$14,979","$31,083","$42,877",17866,6302
238,237.0,Brooks,"$14,728","$19,959","$25,710",7223,2642
239,238.0,Madison,"$14,245","$37,207","$46,943",13664,4187
240,239.0,Kinney,"$14,207","$24,388","$30,833",3598,1350
241,240.0,Bee,"$14,188","$40,278","$46,061",31861,9042
242,241.0,Webb,"$14,163","$36,684","$38,521",250304,67106
243,242.0,Dimmit,"$14,045","$25,882","$30,595",9996,3421
244,243.0,Walker,"$13,920","$34,259","$47,219",67861,20969
245,244.0,Zapata,"$13,915","$24,496","$26,406",14018,4297
246,245.0,Cameron,"$13,695","$31,264","$33,770",406220,119631
247,246.0,La Salle,"$13,542","$30,144","$35,352",6886,1931
248,247.0,Hidalgo,"$13,480","$31,879","$34,106",774769,216471
249,248.0,Mitchell,"$13,358","$37,260","$46,131",9403,2809
250,249.0,Reeves,"$13,112","$32,593","$36,728",13783,3839
251,250.0,Maverick,"$12,444","$28,813","$32,199",54258,15563
252,251.0,Starr,"$11,659","$24,441","$28,143",60968,17001
253,252.0,Hudspeth,"$11,485","$22,647","$28,125",3476,1174
254,253.0,Willacy,"$10,800","$22,881","$25,399",22134,5764
255,254.0,Zavala,"$10,180","$21,707","$24,768",11677,3573

In [27]:
locations = dfs[0]
locations.describe()

C:\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

            Rank    Population  Number of  households
count  254.00000  2.560000e+02           2.560000e+02
mean   127.50000  1.402487e+06           5.256334e+05
std     73.46768  1.935089e+07           7.312585e+06
min      1.00000  8.200000e+01           3.900000e+01
25%          NaN  6.840250e+03           2.436500e+03
50%          NaN  1.856650e+04           6.859000e+03
75%          NaN  5.005600e+04           1.725850e+04
max    254.00000  3.087455e+08           1.167163e+08